body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

h1 {  
  font-weight: 800;
  font-size: 48px;
  color: white;
  padding-left: 16%;
  padding-top: 8%;
}

h2 {
  margin-top: 10%;
  margin-bottom: 8%;
  font-weight: 600;
  text-align: center;
  font-size: 48px;
  color: white;
}

h3 {  
  font-weight: 600;
  font-size: 48px;
  color: #033048;
}

header {
  background: url(header_bg.jpg) no-repeat top center #131e27;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.getit {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 280px;
  font-weight: 600;
  font-size: 28px;
  border-radius: 5px;
  background-color: #f9e42e;
  text-decoration: none;
  padding: 12px 20px 12px 20px;
  color: black;
}

a:visited { 
  text-decoration: none;
  text-decoration-color: none;
}

.benefits {
  max-height: 500px;
  padding-left: 16%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #f0efef;
}

.benefits p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 28px;
  width: 65%;
}

.benefits ul {
  width: 45%;
  list-style-type: disc; 
  font-size: 28px;
  margin-left: 10%;
}

.benefits li {
  margin-top: 3%;
}

.quote {
  background: url(testimonial_bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 400px;
}

.quote p {
  color: #f0efef;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 32px;
  width: 50%;
  padding-top: 100px;
  padding-bottom: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 130%;
}

.quote h4 {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

.sign-up {
  padding: 30px;
  background-color: #f9e42e;
}

.sign-up-btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 280px;
  font-weight: 600;
  font-size: 28px;
  border-radius: 5px;
  background-color: #033048;
  text-decoration: none;
  padding: 12px 20px 12px 20px;
  color: white;
}

footer {
  padding: 60px 0 40px;
  background-color: #121212;

}

footer h5 {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  color: #f9e42e;
}

footer p {
  color: white;
  text-align: center;
}

.twit {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.fb {
  text-align: center;
  display: block;
  margin: 0 auto;
}