body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;

}

h1 {  
  font-weight: 800;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {  
  font-weight: 600;
  font-size: 20px;
}